body
{
    background: #479dff;
}

.title
{
    padding-top: 20vh;
    padding-bottom: 20vh;
    width: 293px;
    margin: auto;
    font-family: "Georgia", serif;
}

.title h1
{
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.title h2
{
    margin-top: 0px;
    padding-top: 0px;
    color: #444;
    font-size: 20px;
}

#navigation
{
    position: relative;
    background: #fff;
    width: 250px;
    height: 70px;
    margin: auto;
    border-radius: 10px;
    opacity: .2;
    padding: 20px;
}

#navigation:hover
{
    opacity: .3;
}

#navtext 
{
    position: relative;
    text-align: center;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: -48px;
}

#navtext a
{
    color: #000;
}

a:hover
{
    text-decoration: none;
}
